  <connectionStrings>
    <add name="AtosDbEntities" connectionString="metadata=res://*/atosdbmodel.csdl|res://*/atosdbmodel.ssdl|res://*/atosdbmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NEJ9DU4\SQLEXPRESS;initial catalog=atosSqlDb;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>